body {
  background-color: #f8f8fb;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0.8;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.hidden {
  display: None;
}

.wrapper {
  background-color: #fff;
}

/** Update Bootstrap**/
.text-bg-secondary {
  background-color: rgb(156 163 175 / 1) !important;
}

.btn-success {
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d;
}
.btn-success:hover {
  opacity: 0.7;
  background-color: #3ac47d;
  border-color: #3ac47d;
}
.badge {
  font-size: .6rem;
}
.badge-success {
  color: #fff;
  background-color: #3ac47d;
}

.text-xs {
  font-size: 0.8rem;
  line-height: 1rem;
}

.table tbody tr td {
  text-align: left !important;
  vertical-align: middle;
}

#tablaComprobantes > tbody > tr > td:nth-child(3),
#tablaComprobantes > tbody > tr > td:nth-child(8),
#tablaComprobantes > tbody > tr > td:nth-child(9),
#tablaComprobantes > tbody > tr > td:nth-child(10) {
  text-align: center !important;
}

/* Asegura que los inputs ocupen todo el ancho de la celda */
#tablaComprobantes thead input {
  width: 100%;
  /* box-sizing: border-box; */
  padding: 5px;
  font-size: 14px;
}

/* Mantén el estilo similar al contenido del cuerpo */
#tablaComprobantes thead th {
  padding: 8px 10px;
  /* vertical-align: middle; */
}

#tablaComprobantes tbody tr td {
  padding: 8px 10px;
  vertical-align: middle;
}

/* Ajusta la altura de los inputs para que coincida con el contenido */
#tablaComprobantes thead input {
  height: calc(1.5em + 0.75rem + 2px); /* Ajusta esto según el tamaño de la fuente */
  border-radius: 4px; /* Opcional: ajusta los bordes para que coincidan con el diseño */
  border: 1px solid #ced4da;
}

/* Estilo para el título relacionado con SUNAT */
.sunat-title {
  color: #2563eb; /* Color azul característico de SUNAT */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Centrado del texto */
  font-size: 2rem; /* Tamaño de fuente */
  font-family: 'Arial', sans-serif; /* Familia de fuente */
}

#jsLoadingTable {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0.8;
  color: #fff;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}