<form id="formQr" class="row g-2 mb-4">
  <div class="col-12">
    <label for="dataQR" class="form-label">Leer código QR</label>
    <input type="text" id="dataQr" name="dataQr" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Guardar QR</button>
</form>
<hr />
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Formulario para ingreso manual del comprobante
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body text-center p-2">
        <form id="formDataComprobante" class="row g-2">
          <div class="col-md-6">
            <input type="text" id="ruc" name="ruc" class="form-control" placeholder="Ruc del emisor" minlength="11" maxlength="11" required>
          </div>
          <div class="col-md-6">
            <select id="tipoComprobante" name="tipoComprobante" class="form-select" required>
              <option>Tipo Comprobante</option>
              <option value="01">Factura</option>
              <option value="03">Boleta de venta</option>
              <option value="07">Nota de crédito</option>
            </select>
          </div>
          <div class="col-12">
            <div class="row text-center">
              <div class="col-5">
                <input type="text" class="form-control" id="serie" name="serie" placeholder="Serie" required>
              </div>
              <div class="col-1">
                -
              </div>
              <div class="col-6">
                <input type="text" class="form-control" id="numero" name="numero" placeholder="Número" required>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row text-center">
              <div class="col-6">
                <input type="date" class="form-control" id="fechaEmision" name="fechaEmision" placeholder="Fecha emisión" required>
              </div>
              <div class="col-6">
                <input type="number" step="any" class="form-control" id="monto" name="monto" placeholder="Monto" required>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary">Consultar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
