<div id='comprobantes' class="p-3 rounded shadow">
    <div class="text-center">
        <button type="button" class="btn btn-success" onclick="validarComprobantes()">Validar comprobantes</button>
    </div>
	<table id="tablaComprobantes" class="table table-hover table-sm" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
		<thead>
			<tr>
                <th data-priority="1">#</th>
                <th data-priority="2">RUC</th>
                <th data-priority="3">Fecha emision</th>
                <th data-priority="4">Serie</th>
                <th data-priority="5">Número</th>
                <th data-priority="6">Monto</th>
                <th data-priority="7">Tipo</th>
                <th data-priority="8">Estado Cp</th>
                <th data-priority="9">Estado RUC</th>
                <th data-priority="10">Cond. Domic. RUC</th>
                <th data-priority="11">Opciones</th>
			</tr>
		</thead>
		<tbody class="text-xs">
		</tbody>
	</table>
</div>